.contact-footer{
  display: flex;
  justify-content:space-around;
  background: #1b1c24;
  color: rgb(241, 235, 235);
  padding: 10px;
}

.contact-footer ul{
  list-style: none;
  padding: 0;
}

.contact-footer a{
  color: white;
  text-decoration: none;
}
